<div class="panel panel-default">
    <div class="panel-hearding">
        <h2 id="nameForm">DS Quan ly Sp</h2>
    </div>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <th>Price</th>
          <th>Quanty</th>
          <th>Active</th>
          <th>Category</th>
          <th>Status</th>
          <th>Discount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td><p id="name">{{ item.title }}</p></td>
          <td><img [src]="item.image"></td>
          <td><p> {{ item.price | currency:'VND' }}</p></td>
          <td><p>{{ item.quanty }}</p></td>
          <td><p>{{ item.active }}</p></td>
          <td><p>{{ item.category }}</p></td>
          <td><p>{{ item.status }}</p></td>
          <td><p>{{ item.discount }}</p></td>
          <td>
            <p>
                
                <button type="button" class="btn btn-danger"><a [routerLink]="['/admin/edit',item.id]">Edit</a></button>
                <button type="button" class="btn btn-success" (click)="onDeactive()">Disable</button>
                

            </p>
        </td>
        </tr> -->
      </tbody>
    </table>
    
</div>