<div class="head">

  <div class="head_top">

  <div class="logo_head">
    <img src="./../../../assets/img/logo/logo-PV.png"/>
  </div> <!-- LOGO HEAD -->

  <div class="search">

      <div class="input_search">
         <input type="text" placeholder="Nhập tên,sản phẩm,mã sản phẩm">
      </div>

      <button class="submit_search">
        <img src="./../../../assets/img/icon/icon_search.png" alt="">
      </button> <!-- SUBMIT SEARCH -->

      <div class="clear"></div>

  </div> <!-- SEARCH -->

  <div class="list_head">
    <div class="ctkm">
      <div class="img_ctkm">
        <img src="./../../../assets/img/icon/discount.png">
      </div> <!-- IMG CTKM -->

      <div class="text_ctkm">
        <span>Chương trình</span>
        <span> Khuyến mãi</span>
      </div> <!-- TEXT CTKM -->

      <div class="clear"></div>
    </div> <!-- CHƯƠNG TRÌNH KHUYẾN MÃI -->

    <div class="ctkm" routerLink="/login">
      <div class="img_ctkm">
        <img src="./../../../assets/img/icon/account.png">
      </div> <!-- IMG ĐNĐK -->

      <div class="text_ctkm"  >
        <p>Đăng nhập</p>
        <p>Đăng ký</p>
      </div> <!-- TEXT ĐNĐK -->

      <div class="clear"></div>
    </div> <!-- CHƯƠNG TRÌNH ĐĂNG NHẬP ĐĂNG KÝ -->

    <div class="ctkm">
      <div class="img_ctkm">
        <img src="./../../../assets/img/icon/shipping.png">
      </div> <!-- IMG ĐNĐK -->

      <div class="text_ctkm">
        <p>Đăng nhập</p>
        <p>Đăng ký</p>
      </div> <!-- TEXT ĐNĐK -->

      <div class="clear"></div>
    </div> <!-- CHƯƠNG TRÌNH ĐĂNG NHẬP ĐĂNG KÝ -->

    <div class="cart">
      <img src="./../../../assets/img/icon/cart.png">
    </div> <!-- CART -->

    <div class="clear"></div>
  </div> <!-- LIST HEAD -->

  <div class="clear"></div>
  </div> <!-- HEAD_TOP -->

  <div class="head_bot">

  <div class="li_head_bot">
    <div class="img_li_head_bot">
      <img src="./../../../assets/img/icon/down.png">
    </div> <!-- IMG LI HEAD BOT -->

    <div class="text_li_head_bot">
      Sản phẩm vừa xem
    </div> <!-- TEXT LI HEAD BOT -->

    <div class="clear"></div>
  </div> <!-- LI HEAD BOT -->

  <div class="li_head_bot">
    <div class="img_li_head_bot">
      <img src="./../../../assets/img/icon/building.png">
    </div> <!-- IMG LI HEAD BOT -->

    <div class="text_li_head_bot">
      Hệ thống Showroom
    </div> <!-- TEXT LI HEAD BOT -->

    <div class="clear"></div>
  </div> <!-- LI HEAD BOT -->

  <div class="li_head_bot">
    <div class="img_li_head_bot">
      <img src="./../../../assets/img/icon/phone.png">
    </div> <!-- IMG LI HEAD BOT -->

    <div class="text_li_head_bot">
      1900 1835
    </div> <!-- TEXT LI HEAD BOT -->

    <div class="clear"></div>
  </div> <!-- LI HEAD BOT -->

  <div class="li_head_bot">
    <div class="img_li_head_bot">
      <img src="./../../../assets/img/icon/wrench.png">
    </div> <!-- IMG LI HEAD BOT -->

    <div class="text_li_head_bot">
      Kiểm tra bảo hành
    </div> <!-- TEXT LI HEAD BOT -->

    <div class="clear"></div>
  </div> <!-- LI HEAD BOT -->

  <div class="li_head_bot">
    <div class="img_li_head_bot">
      <img src="./../../../assets/img/icon/notification.png" style="margin-top:-2px;">
    </div> <!-- IMG LI HEAD BOT -->

    <div class="text_li_head_bot">
      Thông báo
    </div> <!-- TEXT LI HEAD BOT -->

    <div class="clear"></div>
  </div> <!-- LI HEAD BOT -->

  <div class="li_head_bot">
    <div class="img_li_head_bot">
      <img src="./../../../assets/img/icon/build.png">
    </div> <!-- IMG LI HEAD BOT -->

    <div class="text_li_head_bot">
      Xây dụng cấu hình
    </div> <!-- TEXT LI HEAD BOT -->

    <div class="clear"></div>
  </div> <!-- LI HEAD BOT -->

  <div class="clear"></div>
  </div> <!-- HEAD_BOT -->
</div> <!-- HEAD------------------------------------------------------>