<div class="fromAdd">
    <form #formUp="ngForm" (ngSubmit)="onUpdate(formUp)">
    <legend>Edit SP</legend>

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title"  placeholder="Input field" required #title="ngModel" [(ngModel)]="_product.title">
    </div>
    <div class="custom-file">
        <label for="image">Image</label>
        <input type="file" class="custom-file-input" name="image"  placeholder="Input field" required #image="ngModel" [(ngModel)]="_product.image">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" name="price" placeholder="Input field" required #price="ngModel" [(ngModel)]="_product.price">
    </div>
    <div class="form-group">
        <label for="quanty">Quanty</label>
        <input type="text" class="form-control" name="quanty" placeholder="Input field" required #quanty="ngModel" [(ngModel)]="_product.quanty">
    </div>
    <div class="form-group">
        <label for="acvite">Acvite</label>
        <input type="text" class="form-control" name="acvite" placeholder="Input field" required #acvite="ngModel" [(ngModel)]="_product.acvite">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" name="category" placeholder="Input field" required #category="ngModel" [(ngModel)]="_product.category">
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" name="status" placeholder="Input field" required #status="ngModel" [(ngModel)]="_product.status">
    </div>
    <div class="form-group">
        <label for="discount">Discount</label>
        <input type="text" class="form-control" name="discount"  placeholder="Input field" required #discount="ngModel" [(ngModel)]="_product.discount"> 
    </div>
    <div class="submit">
            <div class="submit-agileits">
                <input type="submit" value="Chinh Sp">
            </div>
    </div>
    </form>
</div>

