<form>

	<div class="title">
		<div class="dn">Đăng nhập</div>
		<div class="dk">Đăng ký</div>

		<div class="clear"></div>
	</div> <!-- TITLE -->

	<div class="input">
		<input type="text" placeholder="Tài khoản" class="text-input">
		<input type="text" placeholder="Mật khẩu" class="text-input">
	</div> <!-- INPUT -->

	<button type="submit" class="login">
		Đăng nhập
	</button> <!-- BUTTON -->

	<!-- <div class="forgot">
		<a href="#">Quên mật khẩu?</a>
	</div>  -->
	<!-- FORGOT -->

	<!-- <div class="foot">
		<div class="or">Hoặc đăng nhập bằng</div>
		<div class="fb">Facebook</div>
	</div>  -->
	<!-- FOOT -->

</form> <!-- FORM -------------------------------->