<div class="content">

  <div class="left_content">
    <li><a href="#">Tivi và Thiết bị thông minh</a>
      <div class="menu_con_left_content">
        <div class="list_mclc">
          <div class="title_list_mclc">
            Tivi bán chạy 
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Dưới 44 inch</span></div>
            <div class="text_list_mclc">| <span>44 đến 49 inch</span></div>
            <div class="text_list_mclc">| <span>50 đến 59 inch</span></div>
            <div class="text_list_mclc">| <span>60 đến 69 inch</span></div>
            <div class="text_list_mclc">| <span>Trên 69 inch</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            Smart Tivi
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Dưới 44 inch</span></div>
            <div class="text_list_mclc">| <span>44 đến 49 inch</span></div>
            <div class="text_list_mclc">| <span>50 đến 59 inch</span></div>
            <div class="text_list_mclc">| <span>60 đến 69 inch</span></div>
            <div class="text_list_mclc">| <span>Trên 69 inch</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            QLED/OLED Tivi
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
          
            <div class="text_list_mclc">| <span>60 đến 69 inch</span></div>
            <div class="text_list_mclc">| <span>Trên 69 inch</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            LCD/LED Tivi 
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Dưới 44 inch<</span></div>
            <div class="text_list_mclc">| <span>44 đến 49 inch</span></div>
            <div class="text_list_mclc">| <span>50 đến 59 inch</span></div>
            <div class="text_list_mclc">| <span>60 đến 69 inch</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            UHD 4K Tivi
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Dưới 44 inch</span></div>
            <div class="text_list_mclc">| <span>44 đến 49 inch</span></div>
            <div class="text_list_mclc">| <span>50 đến 59 inch</span></div>
            <div class="text_list_mclc">| <span>60 đến 69 inch</span></div>
            <div class="text_list_mclc">| <span>Trên 69 inch</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            Internet Tivi
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            Thương hiệu Tivi
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>LG</span></div>
            <div class="text_list_mclc">| <span>Panasonic</span></div>
            <div class="text_list_mclc">| <span>Samsung</span></div>
            <div class="text_list_mclc">| <span>Sharp</span></div>
            <div class="text_list_mclc">| <span>Sony</span></div>
            <div class="text_list_mclc">| <span>TCL</span></div>
            <div class="text_list_mclc">| <span>Toshiba</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            Tivi theo giá tiền
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Dưới 10 triệu</span></div>
            <div class="text_list_mclc">| <span>Dưới 10 triệu</span></div>
            <div class="text_list_mclc">| <span>10 đến 20 triệu</span></div>
            <div class="text_list_mclc">| <span>20 đến 30 triệu</span></div>
            <div class="text_list_mclc">| <span>30 đến 40 triệu</span></div>
            <div class="text_list_mclc">| <span>Trên 40 triệu</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            Thiết bị thông minh
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Đèn cảm ứng</span></div>
            <div class="text_list_mclc">| <span>Chăm sóc sức khỏe</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->
      </div> <!-- MENU CON LEFT CONTENT -->
    </li>
    <li><a href="#">Hàng cao cấp và Gaming</a>
      <div class="menu_con_left_content">
        <div class="list_mclc">
          <div class="title_list_mclc">
            Laptop doanh nhân
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Asus Zenbook Pro</span></div>
            <div class="text_list_mclc">| <span>MSI Prestige</span></div>
            <div class="text_list_mclc">| <span>Lenovo ThinkPad</span></div>
            <div class="text_list_mclc">| <span>HP Spectre</span></div>
            <div class="text_list_mclc">| <span>LG gram</span></div>
            <div class="text_list_mclc">| <span>Acer Swift</span></div>
            <div class="text_list_mclc">| <span>Acer Switch</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            Laptop gaming
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Acer Predator</span></div>
            <div class="text_list_mclc">| <span>MSI  G series</span></div>
            <div class="text_list_mclc">| <span>Asus ROG series</span></div>
            <div class="text_list_mclc">| <span>Dell Inspiron</span></div>
            <div class="text_list_mclc">| <span>Lenovo Legion</span></div>
            <div class="text_list_mclc">| <span>HP Pavillion</span></div>
            <div class="text_list_mclc">| <span>Acer Aspire 7</span></div>
            <div class="text_list_mclc">| <span>Acer Nitro 5</span></div>
            <div class="text_list_mclc">| <span>Asus TUF</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            Linh kiện cao cấp
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
          
            <div class="text_list_mclc">| <span>CPU</span></div>
            <div class="text_list_mclc">| <span>Mainboard</span></div>
            <div class="text_list_mclc">| <span>Tản nhiệt</span></div>
            <div class="text_list_mclc">| <span>RAM</span></div>
            <div class="text_list_mclc">| <span>VGA</span></div>
            <div class="text_list_mclc">| <span>Case</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            Gaming gear 
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Chuột & lót chuột</span></div>
            <div class="text_list_mclc">| <span>Bàn phím</span></div>
            <div class="text_list_mclc">| <span>Tai nghe</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->
      </div> <!-- MENU CON LEFT CONTENT -->
    </li>
    <li><a href="#">PC và Linh kiện</a>
      <div class="menu_con_left_content">
        <div class="list_mclc">
          <div class="title_list_mclc">
            PC All in One
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Dưới 15 triệu</span></div>
            <div class="text_list_mclc">| <span>15 đến 20 triệu</span></div>
            <div class="text_list_mclc">| <span>20 đến 30 triệu</span></div>
            <div class="text_list_mclc">| <span>Trên 30 triệu</span></div>
            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            PC theo giá tiền
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Dưới 10 triệu</span></div>
            <div class="text_list_mclc">| <span>10 đến 15 triệu</span></div>
            <div class="text_list_mclc">| <span>15 đến 20 triệu</span></div>
            <div class="text_list_mclc">| <span>20 đến 30 triệu</span></div>
            <div class="text_list_mclc">| <span>Trên 30 triệu</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            CPU - Bộ vi xử lý
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
          
            <div class="text_list_mclc">| <span>Intel Pentium</span></div>
            <div class="text_list_mclc">| <span>Core i3</span></div>
            <div class="text_list_mclc">| <span>Core i5</span></div>
            <div class="text_list_mclc">| <span>Core i7</span></div>
            <div class="text_list_mclc">| <span>Core i9</span></div>
            <div class="text_list_mclc">| <span>Xeon</span></div>
            <div class="text_list_mclc">| <span>Ryzen 3</span></div>
            <div class="text_list_mclc">| <span>Ryzen 5</span></div>
            <div class="text_list_mclc">| <span>Ryzen 7</span></div>
            <div class="text_list_mclc">| <span>Threadripper</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            Mainboard
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Intel Z</span></div>
            <div class="text_list_mclc">| <span>Intel-B</span></div>
            <div class="text_list_mclc">| <span>Intel H</span></div>
            <div class="text_list_mclc">| <span>AMD AM4</span></div>
            <div class="text_list_mclc">| <span>ATX</span></div>
            <div class="text_list_mclc">| <span>Micro-ATX</span></div>
            <div class="text_list_mclc">| <span>Mini-ATX</span></div>
            <div class="text_list_mclc">| <span>ASUS</span></div>
            <div class="text_list_mclc">| <span>GIGABYTE</span></div>
            <div class="text_list_mclc">| <span>MSI</span></div>
            <div class="text_list_mclc">| <span>Asrock</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            RAM
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>ADATA</span></div>
            <div class="text_list_mclc">| <span>AVEXIR</span></div>
            <div class="text_list_mclc">| <span>Corsair</span></div>
            <div class="text_list_mclc">| <span>G.Skill</span></div>
            <div class="text_list_mclc">| <span>Kingmax</span></div>
            <div class="text_list_mclc">| <span>Kingston</span></div>
            <div class="text_list_mclc">| <span>4-8GB</span></div>
            <div class="text_list_mclc">| <span>16-32GB</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            VGA Card màn hình
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>GIGABYTE</span></div>
            <div class="text_list_mclc">| <span>ASUS</span></div>
            <div class="text_list_mclc">| <span>MSI</span></div>
            <div class="text_list_mclc">| <span>Galax</span></div>
            <div class="text_list_mclc">| <span>RTX 20XX</span></div>
            <div class="text_list_mclc">| <span>GTX 10XX</span></div>
            <div class="text_list_mclc">| <span>Radeon-Rx</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            Ổ Cứng HDD/SSD
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Ổ Cứng HDD</span></div>
            <div class="text_list_mclc">| <span>Ổ Cứng SSD</span></div>
            <div class="text_list_mclc">| <span>Ổ cứng laptop</span></div>
            <div class="text_list_mclc">| <span>Ổ cứng gắn ngoài</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

        <div class="list_mclc">
          <div class="title_list_mclc">
            PSU - Nguồn
            <i class="fas fa-chevron-right" style="font-size: 12px;"></i>
          </div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

          <div class="wrapper_text_mclc">
            <div class="text_list_mclc">| <span>Cooler Master</span></div>
            <div class="text_list_mclc">| <span>Corsair</span></div>
            <div class="text_list_mclc">| <span>Seasonic</span></div>
            <div class="text_list_mclc">| <span>&lt;500W</span></div>

            <div class="clear"></div>
          </div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

          <div class="clear"></div>
        </div> <!-- LIST MENU CON LEFT CONTENT -->

      </div> <!-- MENU CON LEFT CONTENT -->
    </li>
    <li><a href="#">Laptop và Linh kiện, Macbook</a></li>
    <li><a href="#">Màn hình máy tính</a></li>
    <li><a href="#">Thiết bị ngoại vi</a></li>
    <li><a href="#">Văn phòng, Mạng, An ninh</a></li>
    <li><a href="#">Phần mềm và Phụ kiện</a></li>
    <li><a href="#">Hàng Trưng Bày</a></li>
    <li><a href="#">Deal choáng ngợp</a></li>
    <li><a href="#">PVMall - ACER</a></li>
    <li><a href="#">PVMall - AMD</a></li>
    <li><a href="#">PVMall - MICROSOFT</a></li>
    <li><a href="#">PVMall - WESTERN DIGITAL</a></li>

  </div> <!-- LEFT CONTENT --------------------->

  <div class="mid_content">
      <div class="banner">
        <img src="./../../../assets/./../../../assets/img/banner/banner-pv.png">
      </div> <!-- BANNER -->
  
      <div class="banner_foot">
        <li class="active"><a href="#">Phong Vũ - Sales 24/7</a></li>
        <li><a href="#">Tivi và Thiết bị thông minh</a></li>
        <li><a href="#">Chương trình từ PVMall</a></li>
        <li><a href="#">Ưu đã Hàng Cao Cấp</a></li>
        <li><a href="#">Khuyến Mãi Toàn Hệ Thống</a></li>
  
        <div class="clear"></div>
      </div> <!-- BANNER FOOT -->
  </div> <!-- MID CONTENT ---------------------->

  <div class="right_content">
      <div class="img_right_content">
        <img src="./../../../assets/img/banner/banner-right1.png">
      </div>
      <div class="img_right_content">
        <img src="./../../../assets/img/banner/banner-right2.png">
      </div>
      <div class="img_right_content">
        <img src="./../../../assets/img/banner/banner-right3.png">
      </div>
  </div> <!-- RIGHT CONTENT -------------------->


  
  <div class="clear"></div>
  
  <div class="pink">
      <div class="circle"></div>
      <marquee>
        <div>8/3 Trao gửi yêu thương - Nhap mã "YEUTHUONG" giảm tới 8% khi mua TV</div>
      </marquee>
  
      <div class="clear"></div>
  </div> <!---------------------- PINK -->

  <div class="tivi">
			<div class="left_tivi">
				<img src="./../../../assets/img/banner/tivi.png">
			</div> <!-- LEFT TIVI -->

			<div class="right_tivi">

				<div class="product_right_tivi">
					<div class="img_right_tivi">
						<img src="./../../../assets/img/products/tivi1.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star" style="color: #8bb6ff;"></i>
					</div> <!-- RATING -->

					<div class="gift">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt">
						<p>Còn lại: 3</p>
					</div>
				</div> <!-- PRODUCT RIGHT TIVI -->

				<div class="product_right_tivi">
					<div class="img_right_tivi">
						<img src="./../../../assets/img/products/tivi1.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star" style="color: #8bb6ff;"></i>
					</div> <!-- RATING -->

					<div class="gift">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GITF -->

					<div class="qlt">
						<p>Còn lại: 2</p>
					</div>
				</div> <!-- PRODUCT RIGHT TIVI -->

				<div class="product_right_tivi">
					<div class="img_right_tivi">
						<img src="./../../../assets/img/products/tivi1.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star" style="color: #8bb6ff;"></i>
					</div> <!-- RATING -->

					<div class="gift">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GITF -->

					<div class="qlt">
						<p>Còn lại: 3</p>
					</div><!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI -->

				<div class="product_right_tivi">
					<div class="img_right_tivi">
						<img src="./../../../assets/img/products/tivi1.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div>

					<div class="price-on">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE -->

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star" style="color: #8bb6ff;"></i>
					</div> <!-- RATING -->

					<div class="gift">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt">
						<p>Còn lại: 3</p>
					</div> <!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI -->

				<div class="clear"></div>

			</div> <!-- RIGHT TIVI -->

			<div class="clear"></div>
  </div> <!-- TIVI -->
  
  <div class="tivi2">
			<div class="tivi2_title">

				<div class="tivi2_title_big">
					<span style="color: #d10a00;">TIVI GIÁ TỐT - CHỐT LIỀN TAY</span> TẠI PHONG VŨ
				</div> <!-- TITLE TIVI 2 LỚN -->
				<div class="tivi2_title_small">
					Đừng vội mua TV nếu chưa xem giá tại Phong Vũ
				</div> <!-- TITLE TIVI 2 NHỎ -->

			</div> <!-- TIVI 2 TITLE -->

			<div class="products_tivi2_wrapper">
				<div class="product_right_tivi2">
					<div class="img_right_tivi2">
						<img src="./../../../assets/img/products/tivi2/products_tivi2_1.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail_products_tivi2">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<!-- <div class="no_rating">Chưa có đánh giá</div> -->

						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star" style="color: #8bb6ff;"></i>
					</div> <!-- RATING -->

					<div class="gift_products_tivi2">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt_products_tivi2">
						<p>Còn lại: 3</p>
					</div> <!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI 2 -->

				<div class="product_right_tivi2">
					<div class="img_right_tivi2">
						<img src="./../../../assets/img/products/tivi2/products_tivi2_2.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail_products_tivi2">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<!-- <div class="no_rating">Chưa có đánh giá</div> -->

						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star" style="color: #8bb6ff;"></i>
					</div> <!-- RATING -->

					<div class="gift_products_tivi2">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt_products_tivi2">
						<p>Còn lại: 3</p>
					</div> <!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI 2 -->

				<div class="product_right_tivi2">
					<div class="img_right_tivi2">
						<img src="./../../../assets/img/products/tivi2/products_tivi2_3.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail_products_tivi2">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<!-- <div class="no_rating">Chưa có đánh giá</div> -->

						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star" style="color: #8bb6ff;"></i>
					</div> <!-- RATING -->

					<div class="gift_products_tivi2">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt_products_tivi2">
						<p>Còn lại: 3</p>
					</div> <!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI 2 -->

				<div class="product_right_tivi2">
					<div class="img_right_tivi2">
						<img src="./../../../assets/img/products/tivi2/products_tivi2_4.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail_products_tivi2">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<!-- <div class="no_rating">Chưa có đánh giá</div> -->

						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star" style="color: #8bb6ff;"></i>
					</div> <!-- RATING -->

					<div class="gift_products_tivi2">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt_products_tivi2">
						<p>Còn lại: 3</p>
					</div> <!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI 2 -->

				<div class="product_right_tivi2">
					<div class="img_right_tivi2">
						<img src="./../../../assets/img/products/tivi2/products_tivi2_5.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail_products_tivi2">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<!-- <div class="no_rating">Chưa có đánh giá</div> -->

						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star" style="color: #8bb6ff;"></i>
					</div> <!-- RATING -->

					<div class="gift_products_tivi2">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt_products_tivi2">
						<p>Còn lại: 3</p>
					</div> <!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI 2 -->

				<div class="product_right_tivi2">
					<div class="img_right_tivi2">
						<img src="./../../../assets/img/products/tivi2/products_tivi2_1.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail_products_tivi2">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<div class="no_rating">Chưa có đánh giá</div>

						<!-- <i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i> -->
					</div> <!-- RATING -->

					<div class="gift_products_tivi2">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt_products_tivi2">
						<p>Còn lại: 3</p>
					</div> <!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI 2 -->

				<div class="product_right_tivi2">
					<div class="img_right_tivi2">
						<img src="./../../../assets/img/products/tivi2/products_tivi2_2.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail_products_tivi2">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<!-- <div class="no_rating">Chưa có đánh giá</div> -->

						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div> <!-- RATING -->

					<div class="gift_products_tivi2">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt_products_tivi2">
						<p>Còn lại: 3</p>
					</div> <!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI 2 -->

				<div class="product_right_tivi2">
					<div class="img_right_tivi2">
						<img src="./../../../assets/img/products/tivi2/products_tivi2_3.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail_products_tivi2">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<!-- <div class="no_rating">Chưa có đánh giá</div> -->

						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div> <!-- RATING -->

					<div class="gift_products_tivi2">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt_products_tivi2">
						<p>Còn lại: 3</p>
					</div> <!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI 2 -->

				<div class="product_right_tivi2">
					<div class="img_right_tivi2">
						<img src="./../../../assets/img/products/tivi2/products_tivi2_4.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail_products_tivi2">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<!-- <div class="no_rating">Chưa có đánh giá</div> -->

						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star" style="color: #8bb6ff;"></i>
					</div> <!-- RATING -->

					<div class="gift_products_tivi2">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt_products_tivi2">
						<p>Còn lại: 3</p>
					</div> <!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI 2 -->

				<div class="product_right_tivi2">
					<div class="img_right_tivi2">
						<img src="./../../../assets/img/products/tivi2/products_tivi2_5.jpg">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail_products_tivi2">
						Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
					</div> <!-- DETAIL -->

					<div class="price-off_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on_products_tivi2">139.990.000 
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<!-- <div class="no_rating">Chưa có đánh giá</div> -->

						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star" style="color: #8bb6ff;"></i>
					</div> <!-- RATING -->

					<div class="gift_products_tivi2">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt_products_tivi2">
						<p>Còn lại: 3</p>
					</div> <!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI 2 -->
			</div> <!-- PRODUCT TIVI 2 WRAPPER ----------------------->

			<div class="clear"></div>
			
		</div> <!-- TIVI 2 --------------------------------------------------->

		<div class="hotdeal">
			<div class="img_hotdeal">
				<img src="./../../../assets/img/hotdeal/hotdeal1.png">
			</div> <!-- IMG HOT DEAL -->

			<div class="img_hotdeal">
				<img src="./../../../assets/img/hotdeal/hotdeal2.png">
			</div> <!-- IMG HOT DEAL -->

			<div class="img_hotdeal">
				<img src="./../../../assets/img/hotdeal/hotdeal3.png">
			</div> <!-- IMG HOT DEAL -->

			<div class="clear"></div>
		</div> <!-- HOT DEAL --------------------------->

		<div class="hmv">
			<div class="title_hmv">
				<div class="icon_title_hmv">
					<img src="./../../../assets/img/icon/hangmoi.jpg"/>
				</div> <!-- ICON TITLE HMV -->

				<div class="text_title_hmv">
					<div class="text_title_hmv_big">
						Hàng mới về
					</div> <!-- TEXT TITLE HMV BIG -->

					<div class="text_title_hmv_small">
						Đừng để lỡ những sản phẩm công nghệ mới nhất mỗi ngày
					</div>

					<div class="clear"></div>
				</div> <!-- TEXT TITLE HMV -->

				<div class="clear"></div>
			</div> <!-- TITLE HMV -->


			<div class="clear"></div>


			<div class="products_hmv_wrapper">
				<div class="products_hmv">
						<div class="img_products_hmv">
							<img src="./../../../assets/img/products/hmv/products_hmv1.jpg">
						</div> <!-- IMG RIGHT TIVI -->

						<div class="detail_products_hmv">
							Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
						</div> <!-- DETAIL -->

						<div class="price-off_products_hmv">139.990.000 
							<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
						</div> <!-- PRICE OFF -->

						<div class="price-on_products_hmv">139.990.000 
							<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
						</div> <!-- PRICE ON -->

						<div class="rating">
							<!-- <div class="no_rating">Chưa có đánh giá</div> -->

							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star" style="color: #8bb6ff;"></i>
						</div> <!-- RATING -->

						<div class="gift_products_hmv">
							<img src="https://phongvu.vn/images/icon_Gift.svg">
						</div> <!-- GIFT -->

				</div> <!-- PRODUCTS HMV -------------------->

				<div class="products_hmv">
						<div class="img_products_hmv">
							<img src="./../../../assets/img/products/hmv/products_hmv2.jpg">
						</div> <!-- IMG RIGHT TIVI -->

						<div class="detail_products_hmv">
							Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
						</div> <!-- DETAIL -->

						<div class="price-off_products_hmv">139.990.000 
							<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
						</div> <!-- PRICE OFF -->

						<div class="price-on_products_hmv">139.990.000 
							<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
						</div> <!-- PRICE ON -->

						<div class="rating">
							<!-- <div class="no_rating">Chưa có đánh giá</div> -->

							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star" style="color: #8bb6ff;"></i>
						</div> <!-- RATING -->

						<div class="gift_products_hmv">
							<img src="https://phongvu.vn/images/icon_Gift.svg">
						</div> <!-- GIFT -->

				</div> <!-- PRODUCTS HMV -------------------->

				<div class="products_hmv">
						<div class="img_products_hmv">
							<img src="./../../../assets/img/products/hmv/products_hmv3.jpg">
						</div> <!-- IMG RIGHT TIVI -->

						<div class="detail_products_hmv">
							Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
						</div> <!-- DETAIL -->

						<div class="price-off_products_hmv">139.990.000 
							<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
						</div> <!-- PRICE OFF -->

						<div class="price-on_products_hmv">139.990.000 
							<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
						</div> <!-- PRICE ON -->

						<div class="rating">
							<!-- <div class="no_rating">Chưa có đánh giá</div> -->

							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star" style="color: #8bb6ff;"></i>
						</div> <!-- RATING -->

						<div class="gift_products_hmv">
							<img src="https://phongvu.vn/images/icon_Gift.svg">
						</div> <!-- GIFT -->

				</div> <!-- PRODUCTS HMV -------------------->

				<div class="products_hmv">
						<div class="img_products_hmv">
							<img src="./../../../assets/img/products/hmv/products_hmv4.png">
						</div> <!-- IMG RIGHT TIVI -->

						<div class="detail_products_hmv">
							Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
						</div> <!-- DETAIL -->

						<div class="price-off_products_hmv">139.990.000 
							<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
						</div> <!-- PRICE OFF -->

						<div class="price-on_products_hmv">139.990.000 
							<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
						</div> <!-- PRICE ON -->

						<div class="rating">
							<!-- <div class="no_rating">Chưa có đánh giá</div> -->

							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star" style="color: #8bb6ff;"></i>
						</div> <!-- RATING -->

						<div class="gift_products_hmv">
							<img src="https://phongvu.vn/images/icon_Gift.svg">
						</div> <!-- GIFT -->

				</div> <!-- PRODUCTS HMV -------------------->

				<div class="products_hmv">
						<div class="img_products_hmv">
							<img src="./../../../assets/img/products/hmv/products_hmv5.jpg">
						</div> <!-- IMG RIGHT TIVI -->

						<div class="detail_products_hmv">
							Smart Tivi QLED Samsung 4K 75 inch 75Q9FNA (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)
						</div> <!-- DETAIL -->

						<div class="price-off_products_hmv">139.990.000 
							<span style="font-size: 11px; font-style:italic; font-weight: lighter;">(Giá bán lẻ)</span>
						</div> <!-- PRICE OFF -->

						<div class="price-on_products_hmv">139.990.000 
							<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
						</div> <!-- PRICE ON -->

						<div class="rating">
							<!-- <div class="no_rating">Chưa có đánh giá</div> -->

							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star" style="color: #8bb6ff;"></i>
						</div> <!-- RATING -->

						<div class="gift_products_hmv">
							<img src="https://phongvu.vn/images/icon_Gift.svg">
						</div> <!-- GIFT -->

				</div> <!-- PRODUCTS HMV -------------------->

				<div class="clear"></div>
			</div> <!-- PRODUCTS HÀNG MỚI VỀ WRAPPER -->
    </div> <!-- HÀNG MỚI VỀ -->
    
</div> <!-- CONTENT -------------------------->