<div class="footer">
		<div class="footer_wrapper">
			<div class="footer_wrapper_con">
				<div class="footer_top">
					<div class="footer_top_left">

						<div class="list_footer_top_left">
							<div class="img_footer_top_left">
								<img src="./../../../assets/img/icon/free_ship.png">
							</div>
							<div class="text_footer_top_left">miễn phí vận chuyển</div>

							<div class="clear"></div>
						</div> <!-- LIST FOOTER TOP LEFT -->

						<div class="list_footer_top_left">
							<div class="img_footer_top_left">
								<img src="./../../../assets/img/icon/support_24_7.png">
							</div>
							<div class="text_footer_top_left">hỗ trợ 24/7</div>

							<div class="clear"></div>
						</div> <!-- LIST FOOTER TOP LEFT -->

						<div class="list_footer_top_left" style="border-right: 1px solid #e8e8e8;">
							<div class="img_footer_top_left">
								<img src="./../../../assets/img/icon/security_pay.png">
							</div>
							<div class="text_footer_top_left">thanh toán bảo mật</div>

							<div class="clear"></div>
						</div> <!-- LIST FOOTER TOP LEFT -->

						<div class="clear"></div>
					</div> <!-- FOOTER_TOP_LEFT -->

					<div class="footer_top_right" 
						style="border-right: 1px solid #e8e8e8; 
						border-left: 1px solid #e8e8e8;"
					>
					<div class="img_footer_top_right">
						<img src="./../../../assets/img/icon/flying_email.png">
					</div> <!-- IMG FOOTER TOP RIGHT -->
					<div class="search_footer_right">
						<div class="dkntb">
							Đăng ký nhận chương trình khuyến mãi mỗi ngày!
						</div> <!-- ĐĂNG KÝ NHẬN THÔNG BÁO -->
						<div class="search_footer_right_wrapper">
							<!-- <div class="icon_search_footer_right">
								<img src="./../../../assets/img/icon/letter.png">
							</div> -->

							<div class="input_search_footer_right">
								<i class="fas fa-envelope" style="color: #aaaaaa; font-size: 19px;"></i>
								<input type="text" 
									name="text_search_footer_top_right" 
									placeholder="Nhập địa chỉ email của bạn"
									class="text_input_search_footer_right"
								>
							</div> <!-- INPUT SEARCH FOOTER RIGHT -->
							<div type="submit" class="button_search_footer_top_right">Đăng ký</div>

							<div class="clear"></div>
						</div> <!-- KHUNG SEARCH FOOTER RIGHT -->

						<div class="clear"></div>
					</div> <!-- PHẦN SEARCH FOOTER RIGHT -->

					<div class="clear"></div>
					</div> <!-- FOOTER TOP RIGHT -->

					<div class="clear"></div>
				</div> <!-- FOOTER TOP -->
				
				<div class="footer_mid_wrapper">
					<div class="footer_mid">
						<ul class="htkh">
							<div class="title_htkh">Hỗ trợ khách hàng</div>
							<li><a href="#">Thẻ ưu đãi</a></li>
							<li><a href="#">Phiếu mua hàng</a></li>	
							<li><a href="#">Trung tâm bảo hành</a></li>
							<li><a href="#">Thanh toán và giao hàng</a></li>
							<li><a href="#">Dịch vụ sửa chữa và bảo trì</a></li>
						</ul> <!-- HỖ TRỢ KHÁCH HÀNG -->

						<ul class="csmhvbh">
							<div class="title_htkh">Chính sách Mua Hàng và Bảo Hành</div>
							<li><a href="#">Quy định chung</a></li>
							<li><a href="#">Chính sách Bảo mật Thông tin</a></li>	
							<li><a href="#">Chính sách Vận chuyển, Giao nhận</a></li>
							<li><a href="#">Chính sách bảo hành</a></li>
							<li><a href="#">Chính sách đổi trả và hoàn tiền </a></li>
							<li><a href="#">Chính sách giá cả và hình thức thanh toán </a></li>
						</ul>  <!-- CHÍNH SÁCH HỖ TRỢ VÀ BẢO HÀNH -->

						<ul class="ttpv">
							<div class="title_htkh">Thông tin Phong Vũ</div>
							<li><a href="#">Thông tin liên hệ</a></li>
							<li><a href="#">Hệ thống Showroom</a></li>	
							<li><a href="#">Giới thiệu Phong Vũ</a></li>
							<li><a href="#">Hỏi đáp</a></li>
							<li><a href="#">Tin công nghệ</a></li>
							<li><a href="#">Tuyển dụng</a></li>
						</ul> <!-- THÔNG TIN PHONG VŨ -->

					<div class="cdpv">
						<div class="title_cdpv">
							Cộng đồng Phong Vũ
						</div> <!-- TITLE CỘNG ĐỒNG PHONG VŨ -->

						<div class="icon_cdpv">

							<div class="img_icon_cdpv">
								<img src="./../../../assets/img/icon/facebook_icon.png">
							</div> <!-- IMG FACEBOOK CỘNG ĐỒNG PHONG VŨ -->

							<div class="text_icon_cdpv">
								Phong Vũ Việt Nam
							</div>

							<div class="clear"></div>
						</div> <!-- FACEBOOK CỘNG ĐỒNG PHONG VŨ -->


						<div class="icon_cdpv">
							<div class="img_icon_cdpv">
								<img src="./../../../assets/img/icon/youtube.png">
							</div> <!-- IMG YOUTUBE CỘNG ĐỒNG PHONG VŨ -->

							<div class="text_icon_cdpv">
								Phong Vũ Media
							</div>

							<div class="clear"></div>
						</div> <!-- YOUTUBE CỘNG ĐỒNG PHONG VŨ -->

						<div class="icon_cdpv">
							<div class="img_icon_cdpv">
								<img src="./../../../assets/img/icon/group.png">
							</div> <!-- IMG GROUP CỘNG ĐỒNG PHONG VŨ -->

							<div class="text_icon_cdpv">
								Phong Vũ Hội
							</div>

							<div class="clear"></div>
						</div> <!-- GROUP CỘNG ĐỒNG PHONG VŨ -->

						<div class="icon_cdpv">
							<div class="img_icon_cdpv">
								<img src="./../../../assets/img/icon/phone.png">
							</div> <!-- IMG PHONE CỘNG ĐỒNG PHONG VŨ -->

							<div class="text_icon_cdpv" style="color: #d42333; font-size: 15px; font-weight:bold;">
								1900&nbsp;1835
							</div>

							<div class="clear"></div>
						</div> <!-- PHONE CỘNG ĐỒNG PHONG VŨ -->

						<div class="clear"></div>
					</div> <!-- CỘNG ĐỒNG PHONG VŨ -->

					<div class="noti_footer">

					<div class="img_noti_footer">
						<img src="./../../../assets/img/icon/bo_cong_thuong.png">
					</div>

					<div class="contact_footer">
						<div class="title_contact_footer">Hỗ trợ khách hàng:</div>
						<div class="text_contact_footer">cskh@phongvu.vn</div>
					</div> <!-- HỖ TRỢ KHÁCH HÀNG -->

					<div class="contact_footer">
						<div class="title_contact_footer">Hỗ trợ khách hàng:</div>
						<div class="text_contact_footer">cskh@phongvu.vn</div>
					</div> <!-- HỖ TRỢ KHÁCH HÀNG -->

					<div class="contact_footer">
						<div class="title_contact_footer">Hỗ trợ khách hàng:</div>
						<div class="text_contact_footer">cskh@phongvu.vn</div>
					</div> <!-- HỖ TRỢ KHÁCH HÀNG -->


					</div> <!-- ĐÃ THÔNG BỘ CÔNG THƯƠNG -->

					<div class="clear"></div>

					<div class="footer_thanh_toan">
						<div class="footer_bot_left">

							<div class="title_fbl">Phương thức thanh toán</div>
							<div class="content_fbl">
								<div class="img_fbl">
									<img src="./../../../assets/img/icon/check_qr.png" />
								</div> <!-- IMG CONTENT FOOTER BOT LEFT -->
								<div class="text_fbl">QR Code</div> <!-- TEXT QR CODE -->
							</div> <!-- CONTENT FOOTER BOT LEFT -->

							<div class="content_fbl">
								<div class="img_fbl">
									<img src="./../../../assets/img/icon/check_cash.png" />
								</div> <!-- IMG CONTENT FOOTER BOT LEFT -->
								<div class="text_fbl">Tiền mặt</div> <!-- TEXT QR CODE -->
							</div> <!-- CONTENT FOOTER BOT LEFT -->

							<div class="content_fbl">
								<div class="img_fbl">
									<img src="./../../../assets/img/icon/tra_gop.png" />
								</div> <!-- IMG CONTENT FOOTER BOT LEFT -->
								<div class="text_fbl">Trả góp</div> <!-- TEXT QR CODE -->
							</div> <!-- CONTENT FOOTER BOT LEFT -->

							<div class="content_fbl">
								<div class="img_fbl">
									<img src="./../../../assets/img/icon/check_banking.png" />
								</div> <!-- IMG CONTENT FOOTER BOT LEFT -->
								<div class="text_fbl">Internet Banking</div> <!-- TEXT QR CODE -->
							</div> <!-- CONTENT FOOTER BOT LEFT -->

							<div class="clear"></div>
						</div> <!-- FOOTER BOT LEFT -->

						<div class="footer_bot_right">
							<div class="title_fbr">Danh sách các ngân hàng thanh toán Online</div>

							<div class="img_fbr">
								<img src="./../../../assets/img/icon/list_bank.jpg">
							</div> <!-- IMG FOOTER BOT RIGHT -->
						</div> <!-- FOOTER BOT RIGHT -->

						<div class="clear"></div>
					</div> <!-- FOOTER THANH TOÁN -->

					<div class="clear"></div>
				</div> <!-- FOOTER MID ---------->
				</div>
			</div> <!-- FOOTER WRAPPER CON -->
		</div> <!-- FOOTER WRAPPER -->	


		<div class="footer_bot">
			<div class="footer_word">
				<div>Linh Kiện Máy Tính /</div>
				<div> Nguồn - PSU /</div>
				<div> RAM /</div>
				<div> Case thùng máy /</div>
				<div>Ổ Cứng /</div>
				<div>Tản Nhiệt Khí /</div>
				<div>Bo mạch chủ /</div>
				<div>CPU - Bộ vi xử lý /</div>
				<div>Card Màn Hình - VGA /</div>
				<div>Tản Nhiệt /</div>
				<div>Lenovo Yoga /</div>
				<div>Asus /</div>
				<div>HP /</div>
				<div>Laptop doanh nhân ASUS /</div>
				<div>Laptop gaming DELL /</div>
				<div>Laptop gaming LENOVO /</div>
				<div>Laptop gaming MSI/</div>
				<div>Laptop gaming ASUS /</div>
				<div>Laptop gaming ACER /</div>
				<div>Laptop gaming HP /</div>
				<div>Dell /</div>
				<div>MACBOOK /</div>
				<div>Laptop doanh nhân DELL /</div>
				<div>Laptop doanh nhân HP /</div>
				<div>Laptop LENOVO /</div>
				<div>Laptop ACER /</div>
				<div>Máy tính đồng bộ /</div>
				<div>Acer /</div>
				<div>Ổ Cứng HDD /</div>
				<div>Ổ Cứng SSD /</div>
				<div>Máy Tính Bàn Doanh nghiệp /</div>
				<div>Máy Tính Bàn Lắp Sẵn /</div>
				<div>Máy Tính Bàn Gía Rẻ /</div>
				<div>DVD /</div>
				<div>Quạt - Fan Case /</div>
				<div>Ổ Đĩa Quang gắn ngoài /</div>
				<div>Laptop /</div>
				<div>Laptop Chơi Game /</div>
				<div>Laptop văn phòng /</div>
				<div>Laptop lai máy tính bảng /</div>
				<div>Intel Pentium /</div>
				<div>Intel Core i3 /</div>
				<div>Intel Core i5 /</div>
				<div>Intel Core i7 /</div>
				<div>Intel Core i9 /</div>
				<div>AMD Ryzen 3 /</div>
				<div>AMD Ryzen 5 /</div>
				<div>AMD Ryzen 7 /</div>
				<div>Main MSI /</div>
				<div>Main ASUS /</div>
				<div>Main GIGABYTE /</div>
				<div>ASROCK /</div>
				<div>Card Màn Hình MSI /</div>
				<div>Card Màn Hình ASUS /</div>
				<div>Card Màn Hình GIGABYTE /</div>
				<div>Card Màn Hình GALAX /</div>
				<div>RAM G.SKILL /</div>
				<div>RAM CORSAIR /</div>
				<div>RAM KINGSTON /</div>
				<div>RAM KINGMAX /</div>
				<div>RAM ADATA /</div>
				<div>RAM 4GB /</div>
				<div>RAM 8GB /</div>
				<div>ACBEL /</div>
				<div>COOLER MASTER /</div>
				<div>CORSAIR /</div>
				<div>FSP /</div>
				<div>GOLDEN FIELD /</div>
				<div>SEASONIC /</div>
				<div>Case CORSAIR /</div>
				<div>Case SAMA /</div>
				<div>Case SEGOTEP /</div>
				<div>Case COOLER MASTER /</div>
				<div>Case THERMALTAKE /</div>
				<div>AIGO /</div>
				<div>Ổ Cứng Gắn Ngoài /</div>
				<div>Phụ Kiện Ổ Cứng /</div>
				<div>Tản Nhiệt Nước /</div>
				<div>Linh Kiện Custom /</div>
				<div>Máy Tính Bàn Nhân Viên /</div>
				<div>HP Probook/Elitebook/Elite X360 /</div>
				<div>Geforce GTX 1070, 1070Ti /</div>
				<div>Geforce GTX 1080, 1080Ti /</div>
				<div>Laptop MSI /</div>
				<div>RTX 2080, 2080Ti /</div>
				<div>CPU Intel /</div>
				<div>Ổ cứng Plextor /</div>
				<div>Intel Xeon /</div>
				<div>Laptop MSI /</div>
				<div>Laptop Xiaomi /</div>
				<div>Tivi - Smart TV /</div>
				<div>Tivi TCL /</div>
				<div>Tivi Sharp /</div>
				<div>Tivi Asanzo /</div>
				<div>Tivi LG /</div>
				<div>Tivi Panasonic /</div>
				<div>Tivi Samsung /</div>
				<div>Tivi Sony /</div>
				<div>Tivi Toshiba /</div>
				<div>Tivi khác /</div>
				<div>Laptop LG /</div>
				<div>Tivi màn hình cong /</div>
				<div>Tivi 4K UHD /</div>
				<div>Tivi QLED/OLED /</div>
				<div>Tivi Smart /</div>
				<div>Internet TV /</div>
				<div>Tivi LED /</div>
				<div>Ổ cứng Intel Optane /</div>
				<div>Cao cấp, multimedia /</div>
				<div>Kế toán, sale online /</div>
				<div>Thu ngân, lễ tân /</div>
				<div>Văn phòng /</div>
				<div>Thư ký, xử lý dữ liệu /</div>
				<div>Marketing, lập trình /</div>
				<div>Kế toán, sale online /</div>
				<div>Thu ngân, lễ tân /</div>
				<div>Giải trí /</div>
				<div>Gaming /</div>
				<div>Đồ họa /</div>
				<div>Lướt web, Facebook /</div>
				<div>Game online, game nhẹ /</div>
				<div>Giải trí cao cấp, multimedia /</div>
				<div>LOL /</div>
				<div>Fortnite, FO4 /</div>
				<div>PUBG /</div>
				<div>Dựng, render video /</div>
				<div>3D, render mô hình /</div>
				<div>Đồ họa phổ thông /</div>
				<div>Full Tower /</div>
				<div>Mid Tower /</div>
				<div>RGB /</div>
				<div>HDD 2.5" /</div>
				<div>SSD M.2 SATA /</div>
				<div>SSD M.2 NVMe /</div>
				<div>SSD 2.5" /</div>
				<div>Kết nối Ethernet, Wireless /</div>
				<div>Dell Vostro 3670 MT /</div>
				<div>HP 14/15 /</div>
				<div>Tivi LG 32 inch /</div>
				<div>Tivi Sony 32 inch /</div>
				<div>Tivi Sony 40 inch /</div>
				<div>Tivi Sony 43 inch /</div>
				<div>Tivi Sony 49 inch /</div>
				<div>Tivi Sony 55 inch /</div>
				<div>Tivi Samsung 32 inch /</div>
				<div>Tivi Samsung 40 inch /</div>
				<div>Tivi Samsung 49 inch /</div>
				<div>Tivi Samsung 43 inch /</div>
				<div>Tivi Samsung 55 inch /</div>
				<div>Tivi LG 43 inch /</div>
				<div>Tivi LG 49 inch /</div>
				<div>Tivi LG 55 inch /</div>
				<div>Tivi 32 inch /</div>
				<div>Tivi 40 inch /</div>
				<div>Tivi 50 inch /</div>
				<div>Tivi 55 inch /</div>
				<div>Tivi Box /</div>
				<div>Tivi Sony 4K /</div>
				<div>RTX 2070, 2070Ti /</div>
				<div>P Series/</div>
				<div>Prestige /</div>
				<div>CPU AMD /</div>
				<div>Thiết bị thông minh /</div>
				<div>Máy lọc không khí /</div>
				<div>Máy hút bụi /</div>
				<div>Bàn chải điện /</div>
				<div>Đèn cảm ứng /</div>
				<div>Chăm sóc sức khỏe /</div>
				<div>Tivi bán chạy /</div>
				<div>Tivi & Thiết bị thông minh /</div>
				<div>PC và linh kiện /</div>
				<div>Camera thông minh /</div>
			</div> <!-- FOOTER WORD -->
		</div> <!-- FOOTER BOT -->

		<div class="footer_bot_bot_wrapper">
			<div class="footer_bot_bot">
				<div class="left_footer_bot_bot">
					<div class="title_left_fbb">CÔNG TY CỔ PHẦN THƯƠNG MẠI DỊCH VỤ PHONG VŨ</div>
					<div class="text_left_fbb">
						&copy; 1997 - 2019 Công Ty Cổ Phần Thương Mại - Dịch Vụ Phong Vũ / GPĐKKD số 0304998358 do Sở KHĐT TP.HCM cấp
					</div> <!-- TEXT LEFT FOOTER BOT BOT -->
				</div> <!-- LEFT FOOTER BOT BOT -->

				<div class="right_footer_bot_bot">
					<div class="title_left_fbr"></div>
					<div class="text_left_fbr">
						<div style="margin-bottom: 10px;">
							<span style="font-weight: bold">
								Văn phòng điều hành miền Bắc:
							</span>
            					Tầng 6, Số 1 Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Hà Nội
        				</div>

        				<div>
        					<span style="font-weight: bold">
        						Văn phòng điều hành miền Nam:
        					</span>
            					Tầng 7, tòa nhà số 198 Nguyễn Thị Minh Khai, Phường 6, Quận 3, TP. Hồ Chí Minh
        				</div>
					</div> 
				</div> <!-- RIGHT FOOTER BOT BOT -->

				<div class="clear"></div>
			</div> <!-- FOOTER BOT BOT -->
		</div>
	</div> <!-- FOOTER --------------------------->
